<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.study.mapper.UserMemberMapper">

	<insert id="create">
		insert into usermember (name, age, hobby) values (#{name}, #{age}, #{hobby})
	</insert>

	<select id="listAll" resultType="org.study.dto.UserMember">
		select * from usermember
	</select>

</mapper>

